:root {
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --background-color: #191919; /* Very Dark Grey */
    --secondary-background-color: #2F2F2F; /* Slightly Lighter Grey */
    --secondary-color: #808080; /* Medium Grey */
    --main-color: #BFBFBF; /* Light Grey */
    --accent-color: #61dafb; /* Bright Blue */
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--main-color);
}

nav {
    background: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    color: var(--background-color);
    display: flex;
    justify-content: space-between;
}

nav h1 {
    flex: 1;
    text-align: left;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: var(--background-color);
    text-decoration: none;
}

.resume-section {
    margin: 2rem 0;
}

.resume-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer {
    background: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    color: var(--background-color);
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}

.resume-section {
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    background: var(--secondary-background-color);
    color: var(--main-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.resume-section h2 {
    margin-bottom: 1rem;
}

.resume-section p {
    line-height: 1.8;
}
